.location-scroll {
  height: 400px !important;
  overflow-y: scroll;
  overflow-x: scroll;
  
}
.locationLayout {
  table-layout: fixed;
  border: 1px;
  width: 100%;
  
}
.locationLayout > tr > td {
  width: 40%;
  height: 40%;
  size: fixed;
  background-color: white;
  background-image: linear-gradient(315deg, #d2fdea 0%, #c2f1ff 74%);
}

.locationpopupContainer {
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.location-popup-boxd {
  padding: 10px;
  position: sticky;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  width: 10vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.location-popup-boxd > input[type="text"] {
  width: 80%;
}


.location-rc {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.location-rc > input[type="number"] {
  width: 30%;
}
.locationList {
  align-items: center;
  
}

.loc-select-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  width: 200%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #1055af;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  padding: 10px 10px;
  font-size: 14px;
  background-color: #0077cc;
  
  margin-bottom: 5px;
  margin-top: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0066aa;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.handle-action{
  display: flex;
  flex-direction: row;
}