.admin-content {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr 1.8fr;
  column-gap: 5px;
  padding: 5px;
}
.admin-content-row {
  width: 100%;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  height: 88vh;
  border-radius: 6px;
}
.content-row-header {
  height: 40px;
  text-align: center;
  padding: 2px 2px;
  border-bottom: 1px solid blue;
}
.content-row-header h2 {
  font-size: medium;
}

.table-header {
  width: 100%;
  border-bottom: 1px solid blue;
}
.table-content {
  padding: 2px 2px 2px 2px;
}
.admin-stats-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.stats-body {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.table-request {
  width: 100%;
  display: flex;
  padding: 5px 5px;
  justify-content: space-between;
  background-color: aliceblue;
  border-bottom: 1px solid blue;
}
.request-info {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.request-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
  color: #a61b1b;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.dropdown-role {
  display: flex;
  justify-content: center;
}
.dropdown-role select {
  appearance: none;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
}

.dropdown-role select:focus {
  outline: none;
  border-color: #555;
}

.dropdown-role select option {
  font-size: 16px;
  font-weight: bold;
}

.dropdown-role::after {
  content: "\25BC";
  font-size: 16px;
  color: #555;
  position: absolute;
  top: 12px;
  right: 12px;
}

.dropdown-role:hover::after {
  color: #222;
}

.dropdown-role select option:checked {
  background-color: #555;
  color: #fff;
}

/* form
   */
.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* input[type="date"],
input[type="time"],
input[type="email"],
input[type="text"],
input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
} */

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.room-form {
  padding: 10px 10px 10px 10px;
}
.room-form label {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* 
stats admin */
.stat > input[type="date"],
.stat > select {
  display: flex;
  text-align: left;
  width: auto;
  margin-bottom: 10px;
  margin-left: 4px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

label {
  display: inline-block;
  width: 120px;
  text-align: left;
  font-size: medium;
  /* margin: auto;
  position: relative; */
  margin-right: 6px;
  margin-left: 4px;
}

.ad {
  position: relative;
  margin-left: 4px;
}
