
.form-item input[type="file"] {
  margin-top: 5px;
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  border: 1px solid blue;
  height: 22px;
  background-color: #e2ffff;
  color: #480ae6;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
/* .attendance-form
input[type="file"] {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #444;
  font-size: 15px;
  font-weight: normal;
  transition: border-color 0.2s ease-in-out;
  width: 60%;
} */
.attendance-form
input[type="date"]:hover,
input[type="date"]:focus,
input[type="file"]:hover,
input[type="file"]:focus {
  border-color: #200ee0;
}

