.display-seat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  width: 50px;
  height: 35px;
  border-radius: 2px;
}

.locationTable {
  display: inline-block;
  height: 55vh;
  overflow-y: scroll;
  overflow-x: scroll;
  /* Set a max-width to prevent horizontal scrolling */
  max-width: 100%;
}

/* Style the scrollbar */
.locationTable::-webkit-scrollbar {
  background-color: #d6eaf8;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* Style the scrollbar thumb */
.locationTable::-webkit-scrollbar-thumb {
  background-color: #1ba5dc;
  border-radius: 10px;
  border: 3px solid #f5f5f5;
}

/* Style the scrollbar on hover */
.locationTable::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* Style the scrollbar on active state */
.locationTable::-webkit-scrollbar-thumb:active {
  background-color: #555;
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
  display: flex;
  align-items: center;
}

.header button {
  height: 35px;
  border-radius: 5px;
}

