.navbar {
  font-variant: small-caps;

  display: block;
  background-color: #0c0c0c;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  box-shadow: 5px 7px 10px #3f4d67;
  background-image: linear-gradient(#2b5876, #4e4376);
}
.acc-logo {
  width: 200px;
  height: auto;
}
.navbar-wrapper {
  width: 100%;
  height: 100%;
}
.b-title:hover {
  color: #f46c1d;
}
menu-item {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* .menu-caption {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 105%;
  justify-content: space-between;
  align-items: center;
} */

.seat-transparent {
  /* margin-top: 100px; 
  height: 300px; */
  height: auto;
  max-width: 100%;
  margin-right: 2rem;
  /* object-position: left top; */
}
.seat-header-img:hover {
  height: 32px;
  width: 32px;
}
.navbar-header-logo {
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
}
.navbar-content {
  padding: 5px;
  margin: 5px 0;
  position: relative;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
}
.inner-navbar {
  text-align: left;
  padding: 7px 7px 7px 7px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-item {
  height: 30px;
  margin-top: 20px;
  font-size: 50px;
}
.inner-navbar li {
  text-align: left;
  padding: 10px 15px;
  margin: 10px 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
}
.inner-navbar a {
  text-decoration: none;
}
.span-text {
  color: #dadaf5;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.span-text:hover {
  color: #66fcf1;
  font-size: 17px;
}
.container {
  position: relative;
  margin: 0 auto;
  display: block;
  float: unset;
  margin-left: 235px;
  background-color: #f3f3ff;
  background-image: linear-gradient(rgba(219, 250, 255, 0.53), #d2f8ff);
  background-color: #fdfdff;
  background-image: linear-gradient(rgb(252, 252, 252), #ffffff);
  min-height: 98vh;
}
.container-content {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  padding-top: 20px;
}
.row {
  display: grid;
  grid-template-columns: 1.1fr 1.9fr;
  margin-right: -10px;
  margin-left: -10px;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
  height: 90vh;
}
.row-card {
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 2px 1px 10px #4b4476;
  display: block;
  border-radius: 3px;
  background-image: linear-gradient(#f7ffc7, #c7e2e7);
}
.row-card-title {
  top: 0;
  position: sticky;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid#007bff;
  padding: 0 1x 1px 1px;
  position: relative;
  height: 35 px;
  display: flex;
  flex-direction: column;
}
.row-card-title h2:after {
  content: "";
  background-color: #5c64ff;
  position: absolute;
  left: 0;
  top: 20px;
  width: 2px;
  height: 25px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table tbody {
  box-sizing: border-box;
  display: table-row-group;
  vertical-align: middle;
}
.table-row {
  display: table-row;
  border-color: inherit;
  padding: 10px 0;
  margin: 5px 5px;
  height: 60px;
  border-bottom: 4px solid#007bff;
  background-color: transparent;
}
.table-row:after {
  content: "";
  background-color: #000dff;
  position: absolute;
  left: 0;
  top: 20px;
  width: 2px;
  height: 25px;
}
.table-row th {
  width: 25%;
}
.table-row td {
  width: 25%;
}
.table-row:hover {
  background-color: #bad4fe;
}
.button-group {
  border-radius: 3px;
  padding: 5px 1;
  border: #1dc4e9;
  background-color: #78b9ff;
  color: #ffffff;
}
.button-group:hover {
  background-color: #60e4ff;
}
.table-scroll {
  height: 400px !important;
  overflow-y: scroll;
}
.table-scroll::-webkit-scrollbar {
  display: none;
}

.card-body {
  display: grid !important;
  grid-template-rows: 0.2fr 0.8fr !important;
}
.card-body:first-child {
  height: 0;
}
.form-container {
  display: block;
  place-items: center;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.modal-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid#007bff;
  padding: 5px;
}
.form-item {
  margin-top: -5px;
  display: flex;
  height: 40px;
  width: 180px;
  justify-content: center;
}
.form-item input[type="date"] {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #007bff;
  background-color: #e0ebff;
  font-size: 15px;
}
.drop-select {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #007bff;
  background-color: #e0ebff;
  padding: 10px;
  font-size: 15px;
}
.drop-select option {
  padding: 10px;
  font-size: 15px;
  background-color: #e0ebff;
  color: #007bff;
  cursor: pointer;
}
.seat-display-img {
  width: 100%;
}

/* Seat  */

/* .seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
  width: 35px;
  height: 40px;
}

.seat:nth-child(3) {
  margin-right: 14.28571428571429%;
} */

.seat-container {
  display: flex;
  flex-wrap: wrap;
}

.seat-container > .seat {
  flex: 0 0 14%;
  padding: 5px;
  position: relative;
  width: 35px;
  height: 40px;
}

.seat-container > .seat:nth-child(20n + 1) {
  margin-right: 14%;
}

.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.seat input[type="checkbox"]:checked + label {
  background: #bada55;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat input[type="checkbox"]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}

.seat input[type="checkbox"]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.seat input[type="checkbox"]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #5de1ff;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5c6aff;
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}
.seat-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 310px !important;
  overflow-y: scroll;
  border-bottom: 1px solid #5c6aff;
}
.seat-display::-webkit-scrollbar {
  display: none;
}
.seat-book-item {
  padding: 5px 5px 3px 5px;
  margin: 3px 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.seat-book-item p {
  color: #3f4d67;
  margin-left: 20px;
}
.seat-book-item button {
  margin-right: 10px;
}

/* /Logout/ */
.container-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f4d67;
}

.logout-card {
  background-color: rgb(225, 206, 206);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 20px;
  text-align: center;
}

.logout-header {
  margin-bottom: 20px;
}

.logout-header h2 {
  font-size: 18px;
  color: #333;
}
.logout-header a {
  text-decoration: none;
  color: #c95405;
}

.logout-body button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

/* Login */
.container-login {
  background-image: url(./Static/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  min-height: 90vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title:hover {
  color: #f8f6f5;
}
/* .logo{
  margin: 20px;
} */

.logo img {
  width: 200px;
}

id.login-button {
  /* width: 20%;
  height: 40px;
  padding: 5px; */
  margin-top: 50%;
  left: 50%;
}

.login-button:hover {
  color: aliceblue;
}

.heading h1 {
  color: white;
  font-family: "Lato", sans-serif;
  width: 53.33%;
  margin-top: -18.5rem;
  margin-left: 3rem;
  font-size: 100px;
}
.heading2 h3 {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 90px;
  margin-left: 3.5rem;
  margin-top: -2rem;
}
/* video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* .seatlogo{
 margin-top: 50px; 
 filter: drop-shadow(10px 10px 10px rgb(154, 96, 8));
 
} */
.girlbook {
  margin-left: 50%;
  margin-top: 5%;
  width: 33.33%;
}
.book {
  border-radius: 2%;
  filter: drop-shadow(20px 20px 20px rgb(75, 89, 223));
}
/* login */

/* popup */
.popupContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000046;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popup-boxd {
  position: absolute;
  background-image: linear-gradient(#c7dbff, #c7e2e7);
  width: 35vw;
  height: fit-content;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 2px 2px #007bff;
}
#pop-edit {
  height: 80vh;
}
.popupHeader h2 {
  text-align: center;
  padding: 10px 0;
  color: #007bff;
  font-weight: normal;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.buttonsContainer > button {
  width: fit-content;
  border: 1px solid #007bff;
  border-radius: 3px;
  color: #57708b;
  padding: 8px 40px;
  font-size: 18px;
  cursor: pointer;
  margin: 0px 40px;
}
.buttonsContainer > button:hover {
  background: #4c4476;
  color: white;
}
.accolite-logo-img {
  display: flex;
  height: 150px;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  margin: 20px 0;
  margin-top: 30px;
}

/* Location */

.row-location {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  height: 100vh;
}
#action {
  display: flex; /* Use flexbox to align the images */
  justify-content: space-between; /* Add space between the images */
  align-items: center; /* Center align the images vertically */
}

.action-icons {
  margin-right: 10px; /* Add margin to the right of the first image */
}

.action-icons {
  height: 25px;
  width: 25px;
}
/* .action-icons:hover {
  height: 22px;
} */
.location-form-popup {
  background-image: linear-gradient(#b8caec, #c5ebf2);
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  width: 100%;
}
.location-form button {
  height: 30px;
  width: 120px;
  font-size: 17px;
  margin-top: 20px;
}
.location-item {
  display: block;
  flex-direction: column;
  align-items: center;
}

.location-item input[type="text"] {
  width: 100%;
  padding: 14px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3f4d67;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #60e4ff;
  border-radius: 5px;
}
.location-item input[type="number"] {
  width: 100%;
  padding: 14px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3f4d67;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #60e4ff;
  border-radius: 5px;
}
.location-item input[type="file"] {
  width: 100%;
  padding: 14px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3f4d67;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #60e4ff;
  border-radius: 5px;
}
#excel-sheet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#excel-sheet label {
  flex-basis: 30%;
  margin-right: 10px;
}

#excel-sheet input[type="file"] {
  flex-basis: 70%;
}

.location-button:hover {
  background-color: #60e4ff;
}
.row-location {
  display: grid;
  grid-template-columns: 1.7fr 1.3fr;
  margin-right: -10px;
  margin-left: -10px;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
  height: 90vh;
}
.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
}

.location-item label {
  font-size: 20px;
}
.layout-img {
  width: 30px;
  height: auto;
}

/* Profile */
.profile-img {
  height: 70px;
  width: auto;
  padding: 10px;
}
.profile-form {
  height: 80%;
  width: 35%;
  padding: 20px;
  background-image: linear-gradient(#c7dbff, #c7e2e7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  box-shadow: 5px 7px 10px #3f4d67;
  text-align: center;
  font-size: 20px;
}
.profile-form input[type="text"] {
  width: 90%;
  height: 30px;
  background-color: #e0ebff;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}
.profile-form button {
  width: 60px;
  height: 30px;
}
.profile-container {
  display: block;
  place-items: center;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

/* Admin UserDetails */

.user-detail {
  box-shadow: 5px 7px 10px #3f4d67;
}

.user-row th {
  width: 23%;
}
.user-row td {
  width: 23%;
}

.user-row:hover {
  background-color: #bad4fe;
}

.user-row {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  padding: 10px 0;
  margin: 5px 0;
  height: 40px;
  border-bottom: 1px solid#007bff;
  text-align: center;
  background-color: transparent #3f4d670d;
}
/* Layout */
.view-layout-icon {
  height: 35px;
  width: 70px;
  padding: 2px 2px 2px 2px;
  /* background-color: #e0f9ff; */
  /* border: 1px solid #7daefd; */
}
.view-layout-icon:hover {
  background-color: #d2f2ff;
}
.container-layout-location {
  width: 100%;
  background-color: #c7e2e7;
  border: 1px solid rgb(230, 230, 230);
}
.location-layout-img {
  height: 500px;
  width: 500px;
}
